:root {
  --modal-inline-padding: 1rem;
}

.modal {
  padding-inline: var(--modal-inline-padding);
  padding-block: 2rem;
  box-sizing: border-box;
  height: 317px;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.modal-close-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

@media screen and (min-width: 834px) {
  .modal {
    width: 359px;
  }
}
