.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #9e9e9e80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #d9d9d9;
  padding: 4rem;
}

.modal-space {
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.book {
  position: relative;
  width: 180px;
}

.book-subtitle {
  font-size: 0.833rem;
}

.book-buttons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.missing-book-cover {
  width: 180px;
  height: 235px;
  background-color: gray;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.book-notification {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 10;
}

.success {
  background-color: white;
  border: 1px solid green;
}

.error {
  background-color: white;
  border: 1px solid red;
}
