:root {
  /* colors  */
  --brown: #3b2d15;
  --light-brown: #5c4012;
  --gray: #f9f9f9;
  --beige: #babbae;
  --blue: #1e2749;
  --dark-gray: #d9d9d9;
  --light-blue: #7a82ab;
  --page-background-color: #f8f3ec;
  --green: #b2c5b1;
  --light-green: #e7f3e5;

  /* spacing  */
  --page-inline-margin: 1rem;
  --page-content-margin-top: 3rem;
  --page-content-inline-margin: 1rem;
}

body {
  background-color: var(--page-background-color);
}

.page-content {
  background-color: white;
  margin-top: var(--page-content-margin-top);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.page-content-margin {
  margin-inline: var(--page-content-inline-margin);
}

.biorhyme-regular {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.biorhyme-bold {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.sen-regular {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sen-bold {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.sen-semibold {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sen-medium {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.small-text {
  font-size: 0.75rem;
}

.white-text {
  color: white;
}

.background-brown-hover:hover {
  background-color: var(--light-brown);
}

.background-white-hover:hover {
  background-color: var(--gray);
}

.background-white {
  background-color: white;
}

.background-brown {
  background-color: var(--brown);
}

.background-gray {
  background-color: var(--gray);
}

.background-dark-gray {
  background-color: var(--dark-gray);
}

.background-light-blue {
  background-color: var(--light-blue);
}

.background-blue {
  background-color: var(--blue);
}

.background-gray-hover:hover {
  background-color: white;
}

.background-light-green {
  background-color: var(--light-green);
}

.background-light-green-hover:hover {
  background-color: var(--green);
}

.border-green {
  border-color: var(--green);
}

.border-beige {
  border-color: var(--beige);
}

@media screen and (min-width: 834px) {
  :root {
    --page-inline-margin: 2rem;
    --page-content-inline-margin: 2rem;
  }

  .page-content {
    margin-inline: var(--page-inline-margin);
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --page-inline-margin: 10rem;
    --page-content-margin-top: 5rem;
  }
}
