.search-bar-container {
  padding-top: 1rem;
}

.search-bar {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
}

.search-bar-input {
  border: 0;
  padding: 0;
  height: stretch;
  font-size: 1rem;
}

.search-bar-button {
  border: 0;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

@media screen and (min-width: 1440px) {
  .search-bar {
    width: 520px;
  }
}
