h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.15;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
  margin: 0;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  /* color-scheme: dark light; Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@media screen and (min-width: 744px) {
  .content {
    margin-inline: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    margin-inline: 160px;
  }
}
